@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
    width: 0px;
    width: 0px;
}

img {
    width: 100vw;
}

a {
    display: block;
    color: white;
    background-color: darkred;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
}

a:hover {
    background-color: red;
}