@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
}

body {
    background: url(../images/background.jpg) no-repeat;
    background-size: cover;
}

div#main {
    position: relative;
    height: 100vh;
}

div#phone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 627px;
    width: 311px;
    background: url(../images/frame-iphone.png) no-repeat;
}

iframe#phone {
    position: relative;
    top: 81px;
    left: 23px;
    width: 265px;
    height: 470px;
}

div#buttons {
    text-align: right;
}

div#buttons img {
    width: 50px;
    margin: 8px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.562);
    box-sizing: border-box;
}

div#buttons img:hover {
    transform: translate(-2.5px, -2.5px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.562);
    transition: transform 0.2s;
}