@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
}

body {
    background: url(../images/background.jpg);
}

div#main {
    position: relative;
    height: 100vh;
}

div#phone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 627px;
    width: 311px;
    background: url(../images/frame-iphone.png) no-repeat;
}